@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product By Price";
}

<h2>Product List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>

